/* styles/global.css */

/* Import the Nunito font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: url('https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofA6sKUYevIWzgPDA.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofINeaBvzBje1xOQ1E.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: url('https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofIMeaBvzBje1xOQ1E.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofIOeaBvzBje1xOQ1E.ttf') format('truetype');
  }
/* Apply Nunito as the default font family */
body {
  font-family: 'Nunito', sans-serif;
  background-color: #d1d5d6;
}

/* Add any other global styles you want */